@charset "UTF-8";

/* 共通パーツ */
html {
    font-size: 62.5%;
}

body {
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    background-color: #FAF8F1;
}

h3 {
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
    display: inline-block;
}

img {
    max-width: 100%;
}

main {
    margin-left: 30rem;
}

.sec-wrapper {
    max-width: 1100px;
    padding: 8rem 2rem;
    margin: 0 auto;
}


/* 
ローディングアニメーション
担当：かおり 
*/

.loader-container {
    position: fixed;
    inset: 0;
    z-index: 999;
    background-color: #000;
}

.loader-container.hidden {
    opacity: 0;
    visibility: hidden;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -50%);
    width: 80rem;
}

.loader-container p {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3.5rem;
    font-family: "DotGothic16", sans-serif;
    letter-spacing: 0.3rem;
}

/* ナビケーション */
header {
    width: 30rem;
    height: 100vh;
    padding: 10rem 8rem 0 2rem;
    position: fixed;
    top: 0;
    overflow-y: auto;
}

.sidebar {
    text-align: center;
}

.nav-link {
    margin-bottom: 4rem;
    margin-inline: auto;
}

.link-btn {
    display: block;
    height: 3rem;
    padding-bottom: 5px;
    font-size: 1.8rem;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
}

.btn-text {
    position: absolute;
    top: 0;
    left: 20%;
    transform: translateX(-20%);
    text-align: center;
    color: #F2880F;
    transition: opacity 0.4s ease, transform 0.4s ease;
}

/* 初期表示 */
.btn-text.default {
    color: #333;
    opacity: 1;
    transform: translateY(0);
}

.btn-text.hover {
    opacity: 0;
    transform: translateY(2rem);
    /*下に隠す*/
}

/* ホバー時 */
.link-btn:hover .default {
    opacity: 0;
    transform: translateY(-2rem);
    /*上に消える*/
}

.link-btn:hover .hover {
    opacity: 1;
    transform: translateY(0);
    /*下から出てくる*/
}

.cta-btn {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-block: 10px;
    font-size: 1.8rem;
    border-radius: 8px;
    position: relative;
    z-index: 0;
}

.cta-btn::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transition: 0.5s;
    background: linear-gradient(90deg, #EAFF01 0%, #8BE551 50%, #10C3B8 100%);
}

.cta-btn::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #EAFF01 60%, #9DFF6DDE, #40FFF3B2);
}

.cta-btn:hover::before {
    opacity: 0;
}

/* 見出し */

.title {
    color: #573F3F;
}

.en {
    color: #F2880F;
    font-size: 2.4rem;
    margin-top: 3.2rem;
}

.ja {
    font-size: 2.8rem;
    border-bottom: 0.3rem dashed #573F3F;
    margin-bottom: 30px;
}

/* はづき担当 */
/* メインビジュアル */
.main-visual {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 4%;
    z-index: 20;
    position: relative;
}

/* 下に全幅の点線を引く */
.main-visual::after {
    content: "";
    position: absolute;
    left: 0;

    width: 100%;
    height: 1px;
    border-top: 1px solid #573F3F;
    z-index: 1;
}

.main-visual::after {
    bottom: 10%;
}

.corner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    /* サイズ調整 */
    height: auto;
    z-index: -3;
    /* 必要に応じて前面に */
}

.main-visual .hero-left p {
    color: #573F3F;
    font-size: 1.8rem;
    margin-bottom: 30px;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}

.highlight {
    font-size: 2.5rem;
    font-weight: bold;
    color: #F2880F;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}

.logo {
    width: 120px;
    margin-bottom: 20px;
}

.hero-left img {
    font-size: 2.5rem;
    line-height: 1.6;
    color: #333;
    width: 300px;
    border-top: 0.3rem dashed #573F3F;
}

.hero-right {
    flex: 1;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.main-visual .hero-left p {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 0.3rem dashed #573F3F;
}

.scroll-text {
    position: absolute;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'DotGothic16';
    color: #f5b56b;
    font-size: 3rem;
    font-weight: bold;
    opacity: 0.7;
    z-index: 2;
    pointer-events: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.scroll-track.reverse {
    display: inline-flex;
    animation: scroll-right 40s linear infinite;
    overflow-x: hidden;
}

.scroll-track p {
    margin: 0;
    padding-right: 2rem;
}

.bottom-scroll {
    top: 90%;
}

@keyframes scroll-right {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}

/* 画面右側フレームワーク（動画スライド表示） */
.monitor-frame {
    width: 100%;
    height: 700px;
    right: -80px;
    aspect-ratio: 16 / 9;
    background: #000;
    border-radius: 300px 0 0 300px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 5;
}

.slideshow {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow-x: hidden;
    opacity: 0;
    transition: opacity 1s ease;
}

.slide.active {
    opacity: 1;
}

nav {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

nav.show {
    opacity: 1;
    pointer-events: auto;
}




/* じゅんな担当 */
/* 参加者の声 */
.voice-card {
    padding-top: 19rem;
    padding-bottom: 3rem;
    background-image: url(../img/コルクボード.jpg);
    background-size: cover;
    background-position: top center;
}


.hover-slide-left,
.hover-slide-right {
    margin-bottom: 1.6rem;
    padding-inline: 8rem;
    display: flex;
}


.hover-slide-right {
    justify-content: flex-end;
}


/* カードめくり */
.card-images {
    position: relative;
    display: inline-block;
    width: 50rem;
    height: auto;
    overflow: hidden;
    margin: 0 1rem;
    border-radius: 5rem;
}


/* 画像 */
.card-images img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 5rem;
}


/* 角めくれ効果 */
.card-images::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: '';
    width: 0;
    height: 0;
    border: 0rem solid #333;
    border-bottom-color: transparent;
    border-right-color: transparent;
    background-color: transparent;
    transition: all 0.5s ease;
    border-radius: 0.2rem;
    z-index: 2;
}


.card-images.is-visible::after {
    border-width: 50rem;
}


/* テキスト表示（個別） */
.voice-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 4.5rem 7rem 2rem 7rem;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: 0.3rem;
    opacity: 0;
    transition: opacity 0.4s ease;
    box-sizing: border-box;
    z-index: 1;
}


.card-images.is-visible .voice-text {
    opacity: 1;
}

.pc {
    display: block !important;
}

.sp {
    display: none !important;
}


/* じゅんな担当行動ステップ */
/* step */
.step-items {
    width: 100%;
    padding-top: 3rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
}

.step-item {
    width: 53%;
    height: 40rem;
    margin: 0 auto;
    padding: 4rem 4rem;
    display: inline-block;
    position: relative;
    background-color: #fff;
    border: 1px solid #10C3B8;
    border-radius: 3rem;
    box-shadow: 1rem 1rem 0.4rem 0 #d6d4ce;
}

.step-item+.step-item {
    margin-top: -4.5rem;
}

.step-item:nth-child(odd) {
    margin-left: auto;
    margin-right: 0;
}

.step-item:nth-child(even) {
    margin-right: auto;
    margin-left: 0;
}

.step-hearing {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.8rem;
    position: relative;
}

/* 立体数字 */
.step-num {
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
    color: #faeec6;
    paint-order: stroke;
    -webkit-text-stroke: 0.18rem #ABDAD1;
    position: relative;
}

.step-num::before {
    content: attr(data-text);
    position: absolute;
    top: 45%;
    left: 35%;
    z-index: 1;
    transform: translate(-50%, -50%);
    color: #fff;
}

.step-title {
    padding-left: 0.8rem;
}

.step-item p {
    font-size: 1.6rem;
}

.step-img {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

.step-img img {
    border-radius: 2rem;
    width: 100%;
    height: 15rem;
    object-fit: cover;
    object-position: top;
}

/* ======= */

/* 
    かおり担当
    つながる場所 共通
                     */
.horizontal_scroll {
    --sticky-container-height: 100vh;
    height: var(--sticky-container-height);
    min-height: 100vh;
    box-sizing: border-box;
}

.horizontal_scroll .sticky {
    padding-top: 0;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.horizontal_scroll .scroll-section {
    display: flex;
    overflow: auto;
}


.horizontal_scroll .scroll-section.nobar {
    overflow: hidden;
}

.horizontal_scroll .scroll-section>* {
    flex-basis: 40%;
    flex-shrink: 0;
    /* aspect-ratio: 16 / 9; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}



.scroll-list {
    display: flex;
    width: max-content;
    gap: 2.5rem;
    margin-block: 3rem;
    /* padding-right: 2rem; */
}

.scroll-list li {
    border: solid 1px #ABDAD1;
    border-radius: 1rem;
    width: 48rem;
    height: 50rem;
    background-color: #fff;
    /* モダンブラウザ向け：8桁の16進数 */
    box-shadow: 1rem 1rem 0.4rem #00000026;
    /* 念のためIE11向け：rgba */
    box-shadow: 1rem 1rem 0.4rem rgba(0, 0, 0, 0.15);
    padding-top: 4rem;
    padding-inline: 5rem;
}

.scroll-list span {
    font-size: 2.7rem;
}

.scroll-list p {
    font-size: 1.8rem;
    line-height: 1.2;
    margin-block: 1.5rem;
}

h3 {
    display: inline-block;
    font-size: 2.2rem;
    font-weight: normal;
    border-bottom: solid 3px #ffbb00;
    padding-bottom: 0.3rem;
}

h3 span {
    color: #ffbb00;

}

/* 月曜日セミナー */

.seminar {
    position: relative;
}

.seminar-bg {
    object-fit: cover;
    width: 26.6rem;
    height: 20.6rem;
}

.seminar-avatar {
    position: absolute;
    right: 6%;
    bottom: 0;
    height: 18rem;
}

.hand {
    position: absolute;
    bottom: 35%;
    right: 9%;
    transform-origin: bottom center;
    animation: hand 2s infinite ease-in-out;
    height: 8rem;
}

@keyframes hand {
    0% {
        transform: rotate(9deg);
    }

    50% {
        transform: rotate(18deg);
    }

    100% {
        transform: rotate(9deg);
    }
}

/* 目的別相談部屋 */

.room {
    position: relative;
}

.whitebord {
    position: absolute;
    width: 19.9rem;
    left: 10rem;
}

.pinkavatar {
    position: absolute;
}

.greenavatar-back {
    position: absolute;
    bottom: 4rem;
    right: 11rem;
    width: 10.5rem;
}

.talk {
    position: absolute;
    animation: fadeInOut 5s infinite ease-in-out;
    width: 9.1rem;
}

.room-talk {
    bottom: 14rem;
    right: 7rem;
}

@keyframes fadeInOut {

    0% {
        opacity: 0;
        transform: translateY(0);
    }

    10% {
        opacity: 1;
        transform: translateY(-5px);
        /* ふわっと浮く */
    }

    70% {
        opacity: 1;
        transform: translateY(-5px);
        /* 表示されたまま */
    }

    100% {
        opacity: 0;
        transform: translateY(-5px);
    }
}

/* 毎日オープン */

.open {
    position: relative;
}

.open-avatar {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    width: 28rem;
}

.sun {
    position: absolute;
    bottom: 20rem;
    animation-name: fadeSun;
}

.moon {
    position: absolute;
    bottom: 5rem;
    right: 4rem;
    animation-name: fadeMoon;
}

.sun,
.moon {
    opacity: 0;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes fadeSun {
    0% {
        opacity: 0.1;
    }

    5% {
        opacity: 0.5;
    }

    10% {
        opacity: 1;
    }

    45% {
        opacity: 0.5;
    }

    50% {
        opacity: 0.1;
    }

    55% {
        opacity: 0;
    }
}

@keyframes fadeMoon {
    5% {
        opacity: 0.1;
    }


    55% {
        opacity: 0.7;
    }

    60% {
        opacity: 1;
    }


    95% {
        opacity: 0.7;
    }

    100% {
        opacity: 0.1;
    }
}


/* 定期的にオンライン飲み会開催 */

.online {
    position: relative;
}

.onlineBg {
    position: absolute;
    right: 5rem;
    border-radius: 2rem;
}

.glass-animation {
    position: relative;
}

.cheers {
    position: absolute;
    top: 0;
    left: 0;
}

.apart-glass {
    opacity: 0;
    animation: apartGlass 2s infinite steps(1);
    width: 12.3rem;
}

.close-glass {
    animation: closeGlass 2s infinite steps(1);
    opacity: 0;
}

@keyframes apartGlass {
    0% {
        opacity: 1;
    }


    49.9% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }


    100% {
        opacity: 0;
    }
}

@keyframes closeGlass {
    0% {
        opacity: 0;
    }

    49.9% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

/* いつでも誰かとつながれる */

.anytime {
    position: relative;
}

.anytimeBg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.anytime-avatar {
    position: absolute;
    bottom: 5rem;
    left: 5rem;
}

.side-avatar {
    position: absolute;
    bottom: 3rem;
    right: 5rem;
    width: 13.8rem;
}

.anytime-talk {
    position: absolute;
    bottom: 14rem;
    right: 9rem;
}

/* はづき担当 */
/* よくある質問 */
#faq {
    background-color: #f9f9f9;
}

/* 質問ブロック */
.faq-item {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    padding: 2rem 2.4rem;
    margin-bottom: 2.4rem;
    transition: box-shadow 0.3s ease;
}

/* ホバー時に少し浮かせる */
.faq-item:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

/* 質問ボタン */
.faq-item .question {
    font-size: 1.8rem;
    font-weight: bold;
    background: none;
    border: none;
    text-align: left;
    width: 100%;
    cursor: pointer;
    color: #573F3F;
    padding: 0;
    position: relative;
}

/* 質問の矢印追加（任意） */
.faq-item .question::after {
    content: "▼";
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.6rem;
    transition: transform 0.3s ease;
}

/* 開いたときに矢印回転 */
.faq-item.open .question::after {
    transform: rotate(180deg);
}

/* 答えのスタイル */
.faq-item .answer {
    font-size: 1.6rem;
    color: #333;
    padding: 1.6rem;
    line-height: 1.8;
    display: none;
    margin-top: 1.2rem;
    background: #fef9f4;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

/* マーカー風アニメーション */
.marker {
    position: relative;
    background: transparent;
    z-index: 0;
}

.marker::after {
    content: "";
    position: absolute;
    left: 0;
    /* 文字の少し下に引く */
    bottom: 0.08em;
    width: 100%;
    height: 0.4em;
    background: rgba(245, 194, 107, 0.5);
    z-index: -1;
    animation: markerDraw 0.8s ease forwards;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 2px;
}

/* マーカを引く場所指定 */
@keyframes markerDraw {
    to {
        transform: scaleX(1);
    }
}


/* footer */
.grad-container {
    height: 200vh;
    position: relative;
}

.grad {
    height: 100vh;
    background: linear-gradient(180deg, rgba(250, 248, 241, 1)10%, rgba(20, 18, 57, 1)90%);
}

.hero {
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    background-image: url(../img/背景夜.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.hero-content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero p {
    margin-top: -25rem;
    margin-bottom: 15rem;
    color: #fff;
    font-size: 4rem;
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
}

.hero a {
    width: 25rem;
}

nav.erase {
    opacity: 0;
    pointer-events: none;
}

footer {
    background-color: #fff;
    padding-block: 1rem;
    text-align: center;
    font-size: 1.2rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* responsive */
@media (max-width: 768px) {

    /* 共通 */
    main {
        margin-left: 0;
    }

    /* 参加者の声 */
    .voice-card {
        background-size: 97%;
        padding-top: 15rem;
    }

    .hover-slide-left,
    .hover-slide-right {
        justify-content: center;
    }

    .card-images {
        width: 67%;
    }

    .card-images img {
        border-radius: 0;
    }

    .pc {
        display: none !important;
    }

    .sp {
        display: block !important;
    }

    /* step */
    #step .sec-wrapper {
        padding-inline: 0;
    }

    .step-item {
        width: 90%;
        padding: 2rem;
    }

    .step-item+.step-item {
        margin-top: 5rem;
    }

    .step-item:nth-child(odd) {
        border-radius: 3rem 0 0 3rem;
    }

    .step-item:nth-child(even) {
        border-radius: 0 3rem 3rem 0;
    }

    /*footer*/
    .hero p {
        font-size: 2.4rem;
    }

}

@media (max-width: 390px) {}


/* フェードイン */
.fadeIn {
    opacity: 0;
    transform: translateY(3rem);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.is-active {
    opacity: 1;
    transform: translateY(0);
}